body{
    background-color: black;
    color: white;
    text-align: justify;

    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif ;
}

.page{
    width: 85vw;
    border-radius: 10px;
    box-shadow: 0 0 10px white;

    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;

    padding: 1rem;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width:900px) {
    .page{
        width: 55vw;
    }
}

.heading{
    text-align: center;
    text-decoration: underline;
}

.subheading{
    text-decoration: underline;
}